{% extends "shared/base.html" %}

{% block link %}
{% endblock %}

{% block title %}
    <title>{{ _('title_nodes') }}</title>
{% endblock %}

{% block main %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="hexagon"></i></div>
                        {{ _('title_nodes') }}
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <button class="btn btn-primary" type="button" onclick="location.href='/nodes/create'">
                <i class="icon-on-right"></i>{{ _('create') }}
            </button>
            <button class="btn btn-secondary" type="button" onclick="location.href='/nodes/check_status_by_type?node_type=sd_txt_to_img'">
                <i class="icon-on-right"></i>{{ _('check') }}
            </button>
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="table table-hover table-borderless align-middle datatable-table">
                <thead>
                        <tr>
                            <th>{{ _('id') }}</th>
                            <th>{{ _('name') }}</th>
                            <th>{{ _('type') }}</th>
                            <th>{{ _('status') }}</th>
                            <th>{{ _('action') }}</th>
                        </tr>
                </thead>
                <tbody>
                        {% for node in node_list %}
                        <tr>
                            <td>{{ node.id }}</td>
                            <td>{{ node.name }}</td>
                            <td>{{ node.type }}</td>
                            <td>
                                {% if node.status==1 %}{{ _('available') }}
                                {% elif node.status==2 %}{{ _('busy') }}
                                {% else %}{{ _('unavailable') }}
                                {% endif %}
                            </td>
                            <td>
                                <form action="/nodes/{{ node.id }}/view" method="GET" style="display: inline-block;">
                                    <input type="submit" class="btn btn-primary btn-sm" value="{{ _('view') }}">
                                </form>
                                <form action="/nodes/{{ node.id }}/modify" method="GET" style="display: inline-block;">
                                    <input type="submit" class="btn btn-primary btn-sm" value="{{ _('edit') }}">
                                </form>
                                <form action="/nodes/{{ node.id }}/delete" method="POST" style="display: inline-block;">
                                    <input type="submit" class="btn btn-danger btn-sm" value="{{ _('delete') }}">
                                </form>
                                 <form action="/nodes/{{ node.id }}/check_status" method="GET" style="display: inline-block;">
                                    <input type="submit" class="btn btn-secondary btn-sm" value="{{ _('check') }}">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}

