{% extends "shared/base.html" %}

{% block link %}
{% endblock %}

{% block title %}
    <title>{{ _('title_create_node') }}</title>
{% endblock %}

{% block main %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="hexagon"></i></div>
                        {{ _('title_create_node') }}
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="javascript:history.back();">
                        <i class="me-1" data-feather="arrow-left"></i>
                        {{ _('back') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="row">
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <form action="/nodes/create" enctype="application/x-www-form-urlencoded" method="POST">
                        <!-- Form Row-->
                        <div class="mb-3">
                            <label class="small mb-1" for="node_name">{{ _('name') }}</label>
                            <input class="form-control" name="node_name" id="node_name" placeholder="{{ _('enter_node_name') }}"/>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1">{{ _('type') }}</label>
                            <select class="form-select" name="node_type" aria-label="Default select Node Type">
                                <option selected disabled>{{ _('--------') }}</option>
                                <option value="sd_txt_to_img">{{ _('sd_txt_to_img') }}</option>
                                <option value="sd_img_to_img">{{ _('sd_img_to_img') }}</option>
                            </select>
                        </div>
                        <!-- Form Group (Roles)-->
                        <div class="mb-3">
                            <label class="small mb-1">{{ _('status') }}</label>
                            <select class="form-select" name="node_status" aria-label="Default select Node Status">
                                <option selected disabled>{{ _('--------') }}</option>
                                <option value="1">{{ _('enable') }}</option>
                                <option value="0">{{ _('disable') }}</option>
                            </select>
                        </div>
                        <!-- Submit button-->
                        <button class="btn btn-primary" type="submit">{{ _('submit') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}

