{% extends "shared/base.html" %}

{% block link %}
{% endblock %}

{% block title %}
<title>{{ _('title_create_menu') }}</title>
{% endblock %}

{% block main %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="menu"></i></div>
                        {{ _('title_create_menu') }}
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="javascript:history.back();">
                        <i class="me-1" data-feather="arrow-left"></i>
                        {{ _('back') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="row">
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <form action="/menus/create" enctype="application/x-www-form-urlencoded" method="POST">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="menu_name">{{ _('name') }}</label>
                                <input class="form-control" id="menu_name" name="menu_name" type="text" placeholder="" value="">
                            </div>
                           <div class="col-md-6">
                            <label class="small mb-1">{{ _('title') }}</label>
                            <input class="form-control" name="title" id="title" placeholder="" value="" required>
                        </div>
                        </div>
                        <div class="row gx-3 mb-3">
                                                        <div class="col-md-6">
                                <label class="small mb-1" for="path">{{ _('path') }}</label>
                                <input class="form-control" id="path" name="path" type="text"
                                       placeholder="/example_path" value="">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="parent_id">{{ _('parent') }}</label>
                                <input class="form-control" id="parent_id" name="parent_id" type="text" placeholder=""
                                       value="">
                            </div>

                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="redirect">{{ _('redirect') }}</label>
                                <input class="form-control" id="redirect" name="redirect" type="text" placeholder=""
                                       value="">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="menu_type">{{ _('type') }}</label>
                                <input class="form-control" id="menu_type" name="menu_type" type="text"
                                       placeholder="" value="">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                                                        <div class="col-md-6">
                                <label class="small mb-1" for="icon">{{ _('icon') }}</label>
                                <input class="form-control" id="icon" name="icon" type="text"
                                       placeholder="" value="">
                            </div>
                            <div class="col-md-6">
                            <label class="small mb-1">{{ _('hidden') }}</label>
                            <select class="form-select" name="hidden" aria-label="Default select Menu Hidden Param">
                                <option selected disabled>{{ _('--------') }}</option>
                                <option value="0">{{ _('hidden') }}</option>
                                <option value="1">{{ _('shown') }}</option>
                            </select>
                        </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="component">{{ _('component') }}</label>
                                <input class="form-control" id="component" name="component" type="text" placeholder=""
                                       value="">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">{{ _('sort') }}</label>
                                <select class="form-select" name="sort" aria-label="Default select Menu Sort">
                                    <option selected disabled>{{ _('--------') }}</option>
                                    <option value="0">{{ _('desc') }}</option>
                                    <option value="1">{{ _('asc') }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="level">{{ _('level') }}</label>
                                <input class="form-control" id="level" name="level" type="text" placeholder="" value="">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">{{ _('status') }}</label>
                                <select class="form-select" name="menu_status" aria-label="Default select Menu status">
                                    <option selected disabled>{{ _('--------') }}</option>
                                    <option value="0">{{ _('disable') }}</option>
                                    <option value="1">{{ _('enable') }}</option>
                                </select>
                            </div>
                        </div>
                        <!-- Submit button-->
                        <button class="btn btn-primary" type="submit">{{ _('submit') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}

