{% extends "shared/base.html" %}

{% block link %}
{% endblock %}

{% block title %}
    <title>{{ _('title_edit_stable') }}</title>
{% endblock %}

{% block main %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="cloud"></i></div>
                        {{ _('title_edit_stable') }}
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="javascript:history.back();">
                        <i class="me-1" data-feather="arrow-left"></i>
                        {{ _('back') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="row">
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">
                    <label>{{ _('id') }}: {{ user.id }}</label>
                </div>
                <div class="card-body">
                    <form action="/stables/{{ sdToImg.id }}/modify" enctype="multipart/form-data" method="POST">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label>{{ _('id') }}</label>
                                <input class="form-control" type="text" name="img_id"  id="img_id" value="{{ sdToImg.id }}" aria-label="Disabled input example" readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                                <label class="small mb-1" for="seed">{{ _('seed') }}</label>
                                <input class="form-control" name="seed" id="seed" placeholder="Default: -1" value="{{ sdToImg.seed }}" required>
                        </div>
                        <div class="mb-3">
                                <label class="small mb-1" for="uri">{{ _('uid') }}</label>
                                <input class="form-control" name="uri" id="uri" placeholder="Celery UUID" value="{{ sdToImg.uri }}" required>
                        </div>
                         Form Group (email address)
                        <div class="mb-3">
                            <label class="small mb-1" for="image_file">{{ _('image_reference') }}</label>
                            <input class="form-control" name="image_file" id="image_file" type="file" accept="image/*" onchange="previewImage(event)" required>
                        </div>
                        <!-- Submit button-->
                        <button class="btn btn-primary" type="submit">{{ _('submit') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
