{% extends "shared/base.html" %}

{% block link %}
{% endblock %}

{% block title %}
    <title>{{ _('title_edit_dictionary') }}</title>
{% endblock %}

{% block main %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="dictionary"></i></div>
                        {{ _('title_edit_dictionary') }}
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="javascript:history.back();">
                        <i class="me-1" data-feather="arrow-left"></i>
                        {{ _('back') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="row">
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">
                    <label>{{ _('id') }}: {{ dictionary.id }}</label>
                </div>
                <div class="card-body">
                    <form action="/dictionary/{{ dictionary.id }}/modify" enctype="application/x-www-form-urlencoded" method="POST">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label>{{ _('id') }}</label>
                                <input class="form-control" type="text" name="dictionary_id"  id="dictionary_id" value="{{ dictionary.id }}" aria-label="Disabled input example" readonly>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="dictionary_name">{{ _('name') }}</label>
                                <input class="form-control" id="dictionary_name" name="dictionary_name" type="text" placeholder="" value="{{ dictionary.name }}">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">{{ _('value') }}</label>
                                <input class="form-control" name="dictionary_value" id="dictionary_value" placeholder="" value="{{ dictionary.value }}" required>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                           <div class="col-md-6">
                                <label class="small mb-1">{{ _('type') }}</label>
                                <input class="form-control" name="dictionary_type" id="dictionary_type" placeholder="" value="{{ dictionary.type }}" required>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">{{ _('submit') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}

